# T066: Recurring Task Service service template with ClusterIP type
# Phase V - Part C: Production Cloud Deployment
apiVersion: v1
kind: Service
metadata:
  name: recurring-task-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: recurring-task-service
    app.kubernetes.io/name: recurring-task-service
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    app: recurring-task-service
